[2017-01-05 22:36] barrosgg opened #1 "Publicação 09/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook
- [x] Agendar no blog da Mozilla Brasil

[2017-01-05 22:37] barrosgg commented on #1
@cynthiapereira, o que acha de abordar o tema sobre rastreamento na navegação privativa?

[2017-01-05 22:42] barrosgg opened #2 "Publicação 10/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Encurtar o links externo (mzl.la)
- [x] Agendar publicação no Twitter e Facebook
- [x] Agendar no blog da Mozilla Brasil

[2017-01-05 22:43] barrosgg opened #3 "Publicação 11/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook
- [x] Agendar no blog da Mozilla Brasil

[2017-01-05 22:43] barrosgg opened #4 "Publicação 12/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook
- [x] Agendar no blog da Mozilla Brasil

[2017-01-05 22:44] barrosgg opened #5 "Publicação 13/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook
- [x] Agendar no blog da Mozilla Brasil

[2017-01-05 22:45] barrosgg opened #6 "Publicação 14/Jan"
- [x] Dica do dia
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook

[2017-01-05 22:48] barrosgg opened #7 "Informar a comunidade sobre a campanha"

[2017-01-05 22:51] barrosgg opened #8 "Criar publicação anunciando a campanha"
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Publicar no Facebook e Twitter
- [x] Publicar no blog da Mozilla Brasil

[2017-01-05 23:10] barrosgg commented on #7
Pronto: https://discourse.mozilla-community.org/t/campanha-do-mes-da-privacidade-janeiro-de-2017/12833

[2017-01-05 23:12] #7 closed, assigned to barrosgg

[2017-01-05 23:16] barrosgg commented on #1
![privacy_month_2](https://cloud.githubusercontent.com/assets/14970832/21701322/2602c862-d38c-11e6-89b1-2cc03fb1a0e7.png)

[2017-01-05 23:17] barrosgg commented on #2
Aqui vamos falar sobre proteção contra rastreamento na navegação privativa.
![privacy_month_1](https://cloud.githubusercontent.com/assets/14970832/21701359/4f05359c-d38c-11e6-846b-b73746559fe0.png)

[2017-01-05 23:21] barrosgg commented on #1
**Proposta de texto para publicação:**

Navegação Privativa - Use o Firefox sem salvar o histórico: https://support.mozilla.org/pt-BR/kb/navegacao-privativa-use-firefox-sem-historico

@cynthiapereira o que acha?

[2017-01-06 00:10] cpswsg commented on #1
@barrosgeraldo  Olha essa adaptação:

**Facebook**

Aprenda agora a ativar a navegação privativa em http://mzl.la/1VqQFem

**Twitter**

[2017-01-06 00:15] cpswsg commented on #1
@barrosgeraldo Acho que podemos adicionar o ícone da navegação privativa [nessa imagem](#issuecomment-270786164), o que você acha?

![private-browsing-meta](https://cloud.githubusercontent.com/assets/1923666/21702708/4b05780a-d394-11e6-98b5-0323e19f1703.png)

[2017-01-06 00:55] barrosgg commented on #1
Perfeito, então no caso aqui vamos dar a dica com foco no Firefox, e não para todos os os navegadores.
Amanhã eu devo retornar com uma nova imagem aqui.

[2017-01-06 02:36] cpswsg commented on #2
**Sugestão de textos:**

Facebook

Twitter

Link a ser encurtado:
https://www.mozilla.org/pt-BR/firefox/50.0a1/tracking-protection/start/?step=1

[2017-01-06 02:40] cpswsg commented on #3
Em continuidade a série sobre as funcionalidades do navegador Firefox, podemos utilizar essa imagem:
![privacy_month_4](https://cloud.githubusercontent.com/assets/1923666/21705699/a0433bc2-d3a8-11e6-8b57-f3d4ffa0dfc6.png)

cc @barrosgeraldo

[2017-01-06 02:56] cpswsg commented on #4
Em continuidade a série sobre as funcionalidades do navegador Firefox, podemos utilizar essa imagem:
![privacy_month_7](https://cloud.githubusercontent.com/assets/1923666/21706021/eecff058-d3aa-11e6-8782-18e065642d54.png)
cc @barrosgeraldo

[2017-01-06 03:00] cpswsg commented on #5
@barrosgeraldo Para finalizar a série sobre o Firefox, que tal falar sobre o [Lightbeam](https://www.mozilla.org/pt-BR/lightbeam/)? Contudo, será necessário criar uma nova imagem.

[2017-01-06 03:05] barrosgg commented on #1
![privacy_month_1](https://cloud.githubusercontent.com/assets/14970832/21706160/b8326e9c-d3a3-11e6-9f75-806fdeaa4193.png)

[2017-01-06 03:06] barrosgg commented on #1
@cynthiapereira, veja esta agora.

[2017-01-06 03:12] barrosgg commented on #2
Link encurtado: https://mzl.la/2iK2uS5

[2017-01-06 03:13] cpswsg commented on #1
@barrosgeraldo Perfeito!

[2017-01-06 03:28] barrosgg commented on #3
O tema é perfeito.

[2017-01-06 03:29] barrosgg commented on #4
O tema é perfeito.

[2017-01-06 03:29] barrosgg commented on #5
Vou trabalhar agora para criar.

[2017-01-06 03:36] barrosgg commented on #5
@cynthiapereira, veja se parece bom! :)
![lightbeam_for_firefox](https://cloud.githubusercontent.com/assets/14970832/21706743/23edc254-d3a8-11e6-89d5-fbcdb33dba00.png)

[2017-01-06 03:38] barrosgg commented on #5
Informações para texto: https://www.mozilla.org/pt-BR/lightbeam/

[2017-01-06 04:23] barrosgg commented on #8
@cynthiapereira olha um pouco a ideia deste post, precisamos melhorar agora.
![mes_privacidade_chegando](https://cloud.githubusercontent.com/assets/14970832/21707523/b381fe16-d3ae-11e6-98e6-ebae83d54b98.jpg)

[2017-01-06 14:38] cpswsg commented on #8
@barrosgeraldo Eu gostei do conceito, só precisa fazer os refinamentos.

[2017-01-06 15:24] cpswsg commented on #8
### Sugestão de Texto

**Facebook**

**Twitter**

[2017-01-06 16:38] maykonchagas commented on #8
já pode divulgar? imagem e texto incríveis! parabéns pessoal!

[2017-01-06 16:40] barrosgg commented on #8
Maykon, só precisamos de melhorar a imagem, no caso o texto que há na imagem, tem sugestões? Ou acha que está bom assim?

[2017-01-06 16:42] maykonchagas commented on #1
Posso sugerir? E que tal usar o escudo inteiro na imagem e o nome da funcionalidade e a hashtag #privacymonth em baixo? isso aumentaria o tamanho do escudo, dando mais ênfase para a funcionalidade da navegação privativa e ainda assim deixaria a hashtag de chamada também bem visível

[2017-01-06 16:45] maykonchagas commented on #6
Poderíamos também falar sobre o Focus para iOS! Acho que isso fecharia a semana de privacidade usando o Firefox

[2017-01-06 16:49] barrosgeraldo commented on #6
Over this to Cynthia for approval.

[2017-01-06 16:56] barrosgg commented on #6
@mchagas, nós estávamos pensando em fazer uma publicação aqui para resumir as dicas da semana.
Nós podemos falar do Focus na semana seguinte.

[2017-01-06 16:57] barrosgg commented on #6
@cynthiapereira pode dar mais detalhes sobre a ideia desta publicação.

[2017-01-06 17:20] cpswsg commented on #6
@barrosgeraldo Podemos fazer uma postagem sobre o Focus nesse dia sim! A postagem com o resumo das publicação será no dia 15/01 no domingo. Aliás, faltou essa issue da primeira semana.

@mchagas Muito obrigada pela sugestão! Senta-se livre para continuar a contribuir, pode ser dando sugestões, dicas, criando conteúdo, o que importa é participar!

[2017-01-06 17:26] maykonchagas commented on #6
Perfeito, posso trabalhar nessa atividade. Pensar em um texto para Facebook e Twitter + um banner, né?

[2017-01-06 17:26] barrosgg commented on #6
@cynthiapereira, obrigado pela revisão.
@mchagas você pode criar um texto para esta publicação?

[2017-01-06 17:27] barrosgg commented on #6
Eu vou trabalhar ainda hoje para criar a imagem.

[2017-01-06 17:29] maykonchagas opened #9 "Publicação 15/Jan"
- [x] Resumo da 1a semana
- [x] Texto da publicação
- [x] Imagem da publicação
- [x] Agendar publicação no Twitter e Facebook

[2017-01-06 17:30] maykonchagas commented on #6
@barrosgeraldo pode contar comigo, farei ainda hoje o texto e publico aqui pra revisão de vocês!

[2017-01-06 17:31] maykonchagas commented on #8
@barrosgeraldo @cynthiapereira Eu acho que poderíamos usar o Keep Calm, por mais que seja em inglês o brasileiro já conhece bem a expressão e sabe o significado. Talvez até poderíamos usar outra referência com outra imagem, "The winter is coming.." e faríamos "Mês da privacidade está chegando..". O que acham?

[2017-01-06 17:32] mchagas commented on #8
talvez até poderíamos usar outra referência, "The winter is coming.." e faríamos "Mês da privacidade está chegando.."

[2017-01-06 17:36] maykonchagas commented on #8
Junto da segunda proposta, "O Mês da Privacidade está chegando... " poderíamos usar algo como [essa imagem](https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.eteknix.com%2Fwp-content%2Fuploads%2F2016%2F01%2Ffirefox-44.jpg&f=1) o que acham? deve ter essa imagem nos repos oficiais da Mozilla né? E aí adicionamos a hashtag #PrivacyMonth e o Mozilla Brasil

[2017-01-06 18:28] barrosgg commented on #8
@mchagas, acho que podemos apenas manter essa imagem, o pessoal da India fez para ser tipo o cartaz da campanha, acredito que apenas o texto podemos melhorar.
Essa imagem que você mandou não pode ser utilizada, ela é do Firefox OS e não é aberta.

[2017-01-06 18:30] barrosgg commented on #8
@mchagas o que acha de manter colocar apenas o "Keep Calm" no topo, substituindo o "mantenha a calma"?

[2017-01-06 18:38] barrosgg commented on #6
@mchagas, ops, esqueci de fazer observação aqui, quanto as imagens todos podem fazer, a minha recomendação é que siga o padrão que já está anexado no repositório, que basicamente é:
- Logo da Mozilla Brasil no canto
- Ícone no meio ou próximo do meio
- Título da dica abaixo do ícone
- E no campo inferior a hashtag da campanha

Assim podemos criar uma campanha mais padronizada quanto a identidade v

[2017-01-06 18:53] barrosgg commented on #6
@cynthiapereira @mchagas, temos um problema aqui, sem imagens vetoriais agora do Firefox Focus, mas podemos apenas subir essa pura, apenas ajustando as medidas do Facebook e Twitter.
![firefox-focus-screenshot-1-1242x770](https://cloud.githubusercontent.com/assets/14970832/21729079/92abaf70-d430-11e6-8a0c-eb9d47fdd07d.png)
O que acham?

[2017-01-06 19:00] barrosgg commented on #8
![mes_privacidade_chegando](https://cloud.githubusercontent.com/assets/14970832/21729269/267733f8-d429-11e6-91aa-12b919c418bd.jpg)
Feita a alteração.

[2017-01-06 19:15] barrosgg commented on #9
@mchagas, aqui talvez podemos fazer uma imagem com logos de todos os projetos envolvidos nas dicas que demos durante a semana ou apenas textos com o título de todas as dicas.
Mais ideias aqui?

[2017-01-06 19:22] barrosgg commented on #3
Textos
**Facebook**

**Twitter**

@cynthiapereira, pode revisar este?

[2017-01-06 19:25] barrosgg commented on #4
Textos
**Facebook**

**Twitter**

@cynthiapereira, pode revisar este?

[2017-01-06 19:31] barrosgg commented on #5
Textos
**Facebook**

**Twitter**

@cynthiapereira pode revisar este?

[2017-01-06 20:06] maykonchagas commented on #6
@barrosgeraldo acho que o Focus de fato não tem uma logo, mas essa imagem, com as adequações para a campanha, cabe bem para o propósito. Por mim, está super ok.

[2017-01-06 20:09] barrosgg commented on #6
Eu também acho que fica muito bem, vamos manter esta sem alterações de conteúdo, apenas  ajustar as medidas.

[2017-01-07 18:36] barrosgg opened #10 "Criar conta Hootsuite para gerenciar publicações"

[2017-01-07 18:57] barrosgg commented on #8
Agendada no Facebook da Mozilla Brasil

[2017-01-07 18:59] barrosgg commented on #1
Agendado no Facebook

[2017-01-07 19:04] barrosgg commented on #2
Agendado no Facebook

[2017-01-07 19:05] barrosgg commented on #3
Agendado no Facebook

[2017-01-07 19:07] barrosgg commented on #4
Agendado no Facebook

[2017-01-07 19:09] barrosgg commented on #5
Agendado no Facebook

[2017-01-07 19:11] barrosgg commented on #6
@mchagas fico no aguardo do texto para agendar esta publicação.

[2017-01-07 19:18] #10 closed, assigned to nobody

[2017-01-08 16:59] barrosgg commented on #1
Agendado no Tweetdeck

[2017-01-08 17:08] barrosgg commented on #8
Publicado no Twitter

[2017-01-08 17:12] barrosgg commented on #8
@cynthiapereira, eu estou impossibilitado de publicar qualquer coisa no blog da comunidade, eu estou tentando recuperar a senha, mas infelizmente não estou recebendo email de recuperação.

[2017-01-08 17:19] barrosgg commented on #2
Agendado no Twitter

[2017-01-08 17:22] barrosgg commented on #4
Agendado no Twitter

[2017-01-08 17:25] barrosgg commented on #5
Agendado no Twitter

[2017-01-08 19:12] cpswsg commented on #8
@barrosgeraldo Com a desativação do persona, os logins efetuados por meio dele pararam de funcionar. Gerei um acesso temporário para você. Por favor, siga os procedimentos enviados por pm.

[2017-01-08 21:18] cpswsg commented on #1
Agendado no Blog

[2017-01-08 21:19] cpswsg commented on #2
Agendado no Blog

[2017-01-08 21:37] cpswsg commented on #3
**Blog**

[2017-01-08 21:37] cpswsg commented on #3
Agendado no Blog

[2017-01-08 21:40] #8 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:03] cpswsg commented on #4
**Blog**

[2017-01-08 22:03] cpswsg commented on #4
Agendado no Blog

[2017-01-08 22:30] cpswsg commented on #5
@barrosgeraldo dá para fazer algumas alterações no texto do Facebook?

**Facebook**

[2017-01-08 22:35] #4 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:37] cpswsg commented on #5
Agendado no Blog

[2017-01-08 22:38] #1 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:38] #2 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:39] #3 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:39] #5 closed, assigned to cpswsg, barrosgg

[2017-01-08 22:44] barrosgg commented on #5
@cynthiapereira, ajustado no Facebook, obrigado.

[2017-01-08 22:54] barrosgg opened #11 "Publicação 16/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 22:55] cpswsg commented on #9
Sugestão de texto

**Blog**

@barrosgeraldo e @mchagas, no Facebook e Twitter podemos colocar o link para a publicação do blog. O que acham?

[2017-01-08 22:55] barrosgg opened #12 "Publicação 17/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [ ] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 22:55] barrosgg opened #13 "Publicação 18/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 22:55] barrosgg opened #14 "Publicação 19/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 22:56] barrosgg opened #15 "Publicação 20/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 22:56] barrosgg opened #16 "Publicação 21/Jan"
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

[2017-01-08 23:01] barrosgg commented on #11
Dica do dia: **Desative contas não usadas**.

Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/tracking/

cc: @cynthiapereira

[2017-01-08 23:03] barrosgg commented on #12
Dica do dia: **Proteja seus perfis**
Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/tracking/

cc: @cynthiapereira

[2017-01-08 23:05] barrosgg commented on #13
Dica do dia: **Controle suas configurações de privacidade e localização no iOS e no Android**

Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/tracking/

cc: @cynthiapereira

[2017-01-08 23:08] barrosgg commented on #14
Dica do dia: **Escolha PINs e senhas fortes**

Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/security/

cc: @cynthiapereira

[2017-01-08 23:09] barrosgg commented on #15
Dica do dia: **Autenticação de dois fatores**

Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/security/#do

cc: @cynthiapereira

[2017-01-08 23:11] barrosgg commented on #16
Dica do dia:  **Atualize seus aplicativos e dispositivos regularmente**

Conteúdo: https://www.mozilla.org/pt-BR/teach/smarton/security/#do

cc: @cynthiapereira

[2017-01-09 16:54] maykonchagas commented on #6
@barrosgeraldo desculpa o atraso, tive uns compromissos e não consegui fazer. Providenciarei hoje a noite, sem falta.

[2017-01-09 21:02] barrosgg commented on #9
Acho perfeito, vamos fazer isso.

[2017-01-10 03:07] maykonchagas commented on #6
Texto da dica sobre Firefox Focus

**Blog**
Vivemos em uma era onde muitos usuários perderam a confiança e possuem pouco controle sobre a sua vida digital. Para alguns usuários é como se suas atividades on-line os seguissem em qualquer lugar - através dos dispositivos e da contas. Para piorar, a Web pode parecer desorganizada. Por isso nós apresentamos o Firefox Focus.

Para as vezes que você não

[2017-01-10 12:26] maykonchagas commented on #9
Também concordo @cynthiapereira, "Regina, let's go!" 😁

[2017-01-10 20:08] barrosgg commented on #11
![desative_contas_nao_usadas](https://cloud.githubusercontent.com/assets/14970832/21822760/54fea324-d757-11e6-82e2-b7b65b2527b6.png)

[2017-01-10 20:08] barrosgeraldo commented on #12
![proteja_contas_online](https://cloud.githubusercontent.com/assets/14970832/21822791/7187785e-d757-11e6-8c89-ff928a755dcc.png)

[2017-01-10 20:14] barrosgg commented on #12
![proteja_contas_online](https://cloud.githubusercontent.com/assets/14970832/21823035/4c3ad0a4-d758-11e6-9cbd-dc6d8b2cbb49.png)

[2017-01-10 20:15] barrosgeraldo commented on #13
![controle_conf_android_ios](https://cloud.githubusercontent.com/assets/14970832/21823075/6560ef78-d758-11e6-9c4c-2508eb0cc47f.png)

[2017-01-10 20:20] barrosgg commented on #14
![pins_senhas_fortes](https://cloud.githubusercontent.com/assets/14970832/21823251/088366e0-d759-11e6-89b9-45fd6eeb7f7f.png)

[2017-01-10 20:20] barrosgg commented on #15
![dois_fatores](https://cloud.githubusercontent.com/assets/14970832/21823266/17845d20-d759-11e6-8c4e-381990754e3a.png)

[2017-01-10 20:25] barrosgg commented on #13
Nova proposta.
![controle_conf_android_ios](https://cloud.githubusercontent.com/assets/14970832/21823431/bc55382e-d759-11e6-9649-c385eb2c3bdf.png)

[2017-01-10 20:28] barrosgg commented on #16
![atualize_apps_so_mobile](https://cloud.githubusercontent.com/assets/14970832/21823529/2291514a-d75a-11e6-8532-25c8269a3fb5.png)

[2017-01-10 21:03] maykonchagas commented on #6
@barrosgeraldo @cynthiapereira poderiam dar uma revisada no texto e agendar a publicação nas mídias sociais, caso esteja OK?

[2017-01-10 21:18] barrosgg commented on #6
@mchagas, obrigado pela super força aqui, agendei no Twitter, Facebook e Blog.
May the force be with you. 👍

[2017-01-10 21:24] barrosgg commented on #6
Sorry @cynthiapereira.

[2017-01-10 21:36] cpswsg commented on #6
**Blog**

**Facebook**

**Twitter**

@barrosgeraldo revisado!

[2017-01-10 21:36] barrosgg commented on #9
![template_facebook](https://cloud.githubusercontent.com/assets/14970832/21825739/b6811710-d763-11e6-84d4-8c450efe9c85.png)

[2017-01-10 21:39] cpswsg commented on #9
@barrosgeraldo poderia alterar para: **Dicas da última semana:**

[2017-01-10 21:40] maykonchagas commented on #9
Concordo com a @cynthiapereira

[2017-01-10 21:42] barrosgg commented on #9
![dicas_semana_1](https://cloud.githubusercontent.com/assets/14970832/21825951/7ab3f17a-d764-11e6-860a-17a14ddc4a2f.png)

[2017-01-10 21:43] barrosgg commented on #9
@cynthiapereira, no caso do blog post, você planeja fazer um post resumindo cada dia?

[2017-01-10 21:44] cpswsg commented on #9
@barrosgeraldo Eu havia pensando em algo mais direto, mas é uma boa ideia ter pelo menos um parágrafo elucidativo. Vou trabalhar nisso!

[2017-01-10 21:49] #6 closed, assigned to maykonchagas, barrosgg

[2017-01-10 21:53] cpswsg commented on #9
**Blog**

A navegação privativa do Firefox permite navegar na Internet sem salvar informações sobre os sites e páginas visitadas, dados em formulários, histórico de pesquisa e downloads, senhas, cookies e cache.

A proteção contra rastreamento na navegação privativa do Firefox diminui a capacidade de terceiros de rastrear suas atividades de navegação on-line em diferentes sites.

O Não me rastreie

[2017-01-10 21:55] barrosgg commented on #11
**Textos**
Facebook

Leia mais sobre rastreamento: https://mzl.la/2jAHU9V 👁✊🚀
#privacymonth #privacidade #firefox #mozilla #mozillabrasil

Twitter

Blog

Leia mais sobre rastreamento: https://mzl.la/2jAHU9V 👁✊🚀

[2017-01-10 21:58] cpswsg commented on #12
~~Trabalhando no texto **agora**!~~

[2017-01-10 22:05] barrosgg commented on #13
Trabalhando no texto **agora**!

[2017-01-10 22:17] barrosgg commented on #13
**Texto**

**Facebook**

#privacymonth #privacidade #firefox #mozilla #mozillabrasil

**Twitter**

**Blog**

[2017-01-10 22:18] maykonchagas commented on #15
Posso fazer esse!

[2017-01-10 22:20] barrosgg commented on #9
Revisado.

[2017-01-10 22:31] barrosgg commented on #9
@cynthiapereira, agendado no blog da comunidade. Nas redes sociais não é possível add o link para o blog.

[2017-01-10 23:49] cpswsg commented on #11
@barrosgeraldo revisado no próprio comentário.

[2017-01-11 01:55] cpswsg commented on #13
@barrosgeraldo esse texto é muito semelhante com essa proposta #12

[2017-01-11 02:02] cpswsg commented on #13
@barrosgeraldo revisado no próprio comentário.

[2017-01-11 02:07] cpswsg commented on #9
@barrosgeraldo vamos precisar fazer a postagem nas redes sociais logo após a publicação no blog, ai teremos o link.  :wink:

[2017-01-11 02:16] barrosgg commented on #13
@cynthiapereira, humm... na verdade eu criei uma proposta de texto que não é para esse tema, me enganei.

Aqui o tema é o controle nos sistemas operacionais mobile, Android e iOS, e não sobre contas.

Eu vou preparar um novo texto sobre configurações de privacidade e localização no iOS e no Android, e este eu vou mover para a issue #12.

[2017-01-11 02:18] barrosgg commented on #12
_@cynthiapereira, movendo texto da issue #13 para esta._

**Texto**

**Facebook**

#privacymonth #privacidade #firefox #mozilla #mozillabrasil

**Twitter**

**Blog**

[2017-01-11 02:19] cpswsg commented on #12
@barrosgeraldo Ótimo! Está pronto para agendar.

[2017-01-11 02:27] barrosgg commented on #13
**Textos**

Facebook

Blog

Twitter

[2017-01-11 02:38] cpswsg commented on #13
@barrosgeraldo Revisado no próprio comentário.

[2017-01-15 21:23] barrosgg commented on #11
@cynthiapereira, obrigado.
Agendado, fechando.

[2017-01-15 21:23] #11 closed, assigned to cpswsg, barrosgg

[2017-01-15 21:30] barrosgg commented on #9
@cynthiapereira , obrigado.
Postado, fechando.

[2017-01-15 21:30] #9 closed, assigned to maykonchagas, cpswsg, barrosgg

[2017-01-16 20:17] cpswsg commented on #15
@mchagas Você pode confirmar se fará o texto dessa publicação?

[2017-01-16 20:42] maykonchagas commented on #15
yeeess. desculpa a demora. hoje a noite entrego esse texto!

[2017-01-16 21:03] barrosgg commented on #13
@cynthiapereira, obrigado!

Agendados no Facebook, Twitter e Blog.

Fechando.

[2017-01-16 21:03] #13 closed, assigned to barrosgg

[2017-01-16 21:03] barrosgg commented on #12
@cynthiapereira, obrigado!

Agendados no Facebook, Twitter e Blog.

Fechando.

[2017-01-16 21:03] #12 closed, assigned to cpswsg, barrosgg

[2017-01-16 21:04] barrosgg commented on #16
Amanhã eu vou trabalhar com essa issue.

[2017-01-17 19:02] barrosgg commented on #14
**Textos**

Facebook

Twitter

Blog

[2017-01-17 19:03] barrosgg commented on #14
@cynthiapereira, você pode revisar este?

[2017-01-17 19:09] barrosgg commented on #16
**Textos**

Facebook

Twitter

Blog

[2017-01-17 19:09] barrosgg commented on #16
@cynthiapereira

[2017-01-17 19:21] barrosgg opened #17 "Publicação 22/Jan - Resumo Semanal"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:21] barrosgg opened #18 "Publicação 23/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:21] barrosgg opened #19 "Publicação 24/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:22] barrosgg opened #20 "Publicação 25/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:22] barrosgg opened #21 "Publicação 26/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:22] barrosgg opened #22 "Publicação 27/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:22] barrosgg opened #23 "Publicação 28/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:23] barrosgg opened #24 "Publicação 29/Jan - Resumo Semanal"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:23] barrosgg opened #25 "Publicação 30/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:23] barrosgg opened #26 "Publicação 31/Jan"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [x] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [x] Criar imagem da publicação
- [x] Agendar publicação no Twitter
- [x] Agendar publicação no Facebook
- [x] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:23] barrosgg opened #27 "Publicação 31/Jan - Resumo Semanal"
### Tarefas
- [x] Definir dica do dia / [31 Privacy Tips](https://docs.google.com/spreadsheets/d/1h5kAJeDsB-qt5t19hn-hoe3ojPl_YeIaO9K3oTkRuQw/edit?usp=sharing)
- [ ] Criar texto da publicação para Blog, Twitter (140 caracteres) e Facebook
- [ ] Criar imagem da publicação
- [ ] Agendar publicação no Twitter
- [ ] Agendar publicação no Facebook
- [ ] Agendar publicação no Blog

---------

### Templa

[2017-01-17 19:43] barrosgg commented on #17
Trabalhando neste agora.

[2017-01-17 19:46] barrosgg commented on #17
Sugestão de texto

**Blog**

[Para ser ágil aqui podemos add links para as postagens semanais de cada item em específico]

[2017-01-17 19:55] barrosgg commented on #17
![dicas_semana_2](https://cloud.githubusercontent.com/assets/14970832/22037386/b6f17c0e-dcd5-11e6-8c4a-07cb86a5c2b6.png)

[2017-01-17 20:05] barrosgg commented on #18
Dica do dia: **Use gerenciadores de senhas**

Conteúdo: https://tecnoblog.net/192790/gerenciador-senhas-por-que-usar/; https://ssd.eff.org/pt-br/module/como-utilizar-o-keepassx.

[2017-01-17 20:10] cpswsg commented on #14
@barrosgeraldo Revisado!

[2017-01-17 20:14] barrosgg commented on #19
Dica do dia: **Instale HTTPS Everywhere**

Conteúdo: https://www.eff.org/https-everywhere

[2017-01-17 20:16] barrosgg commented on #20
Dica do dia: **Criptografe e assine digitalmente mensagens**

Conteúdo: https://support.mozilla.org/pt-BR/kb/criptografando-e-assinando-digitalmente-mensagens

[2017-01-17 20:19] barrosgg commented on #21
Dica do dia: **Proteção de rastreamento do Firefox Test Pilot**

Conteúdo: https://support.mozilla.org/pt-BR/kb/new-test-pilot-experiments

[2017-01-17 20:21] cpswsg commented on #16
@barrosgeraldo  Revisado!

[2017-01-18 01:05] #14 closed, assigned to barrosgg

[2017-01-18 01:05] #16 closed, assigned to barrosgg

[2017-01-18 14:37] maykonchagas commented on #15
Yeah! I told you that I would do the text XD

**Twitter**: Ative a autenticação de 2 fatores e proteja o acesso as suas contas on-line http://bit.ly/2k0vk02 #privacymonth 🚀👁🙇

**Facebook**:
[Mês da Privacidade] - A Autenticação de 2 Fatores (A2F) é uma funcionalidade que alguns serviços disponibilizam para os usuários. Este recurso dá ao usuário a capacidade de adicionar mais uma camada de seguran

[2017-01-18 14:38] maykonchagas commented on #15
Dúvida, o texto do blog será o mesmo do Facebook? E sobre links? podemos indicar links externos?

[2017-01-18 14:43] cpswsg commented on #15
@mchagas Sim e sim. O texto do blog pode ser o mesmo do Facebook e podemos indicar links externos confiáveis (salvo as adaptações ao Twitter). Contudo, é interessante que o conteúdo apresentado esteja em pt-BR.

[2017-01-18 15:07] maykonchagas commented on #15
Beleza, então eu adicionaria este link: https://ssd.eff.org/pt-br/module/como-habilitar-autentica%C3%A7%C3%A3o-de-dois-fatores e seria necessário só replicar o texto que escrevi para o Facebook para o Blog (que eu já fiz). @cynthiapereira ou @barrosgeraldo podem revisar?

[2017-01-18 15:08] maykonchagas commented on #21
Esse eu poderia fazer!

[2017-01-18 15:54] mchagas commented on #22
Dica do dia: Botão **Esquecer**

Conteúdo: https://support.mozilla.org/pt-BR/kb/botao-esquecer-delete-rapidamente-seu-historico

[2017-01-18 16:11] barrosgeraldo commented on #22
Ops, já usamos essa dica na semana passada. :)

[2017-01-18 17:51] cpswsg commented on #15
@mchagas revisado!

[2017-01-18 18:37] cpswsg commented on #17
@barrosgeraldo faltou na imagem referência a #15

[2017-01-18 22:21] #15 closed, assigned to maykonchagas, barrosgg

[2017-01-19 00:23] mchagas commented on #22
Ah, ok. Ainda hoje eu sugiro uma nova dica.

[2017-01-21 00:15] barrosgg commented on #17
feito.
![dicas_semana_2](https://cloud.githubusercontent.com/assets/14970832/22169759/83b81e4c-df55-11e6-9ae6-e5bd67cea141.png)

[2017-01-21 00:23] barrosgg commented on #17
atualizado no blog

[2017-01-21 00:43] barrosgg commented on #18
![gerenciador_senha](https://cloud.githubusercontent.com/assets/14970832/22170156/6c127d06-df59-11e6-91f9-2000a7944b9d.png)

[2017-01-21 00:46] barrosgg commented on #19
Não encontrei um logo do HTTPS Everywhere sem fundo transparente, vamos usar este original.
![https-everywhere-banner](https://cloud.githubusercontent.com/assets/14970832/22170198/deaba130-df59-11e6-8d24-300f8d8f8d03.png)

[2017-01-21 00:49] barrosgg commented on #20
![criptografia](https://cloud.githubusercontent.com/assets/14970832/22170242/52b29e6c-df5a-11e6-803b-7a9a9c807582.png)

[2017-01-21 00:58] barrosgg commented on #21
![tracking_protection](https://cloud.githubusercontent.com/assets/14970832/22170385/99b74c94-df5b-11e6-808c-7da20aae81a2.png)

[2017-01-21 01:09] barrosgg commented on #22
Dica do dia: Faça buscas sem ser rastreado com DuckDuckGo.

Conteúdo: https://duckduckgo.com

[2017-01-21 01:11] barrosgg commented on #23
Dica do dia: Navegue totalmente em anonimato com Tor Browser

Conteúdo: http://www.techtudo.com.br/tudo-sobre/tor.html

[2017-01-21 01:17] barrosgg commented on #25
Dica do dia: Controle permissões de cada aplicativo no Android

Conteúdo: https://support.google.com/googleplay/answer/6270602?hl=pt-BR

[2017-01-21 01:20] barrosgg commented on #26
Dica do dia: Verifique se a conexão com o site é segura

Conteúdo: https://support.mozilla.org/pt-BR/kb/como-saber-se-minha-conexao-e-segura#w_green-padlock

[2017-01-21 01:22] barrosgg commented on #27
**Dicas da semana**
1. Controle permissões de cada aplicativo no Android
2. Verifique se a conexão com o site é segura

[2017-01-21 01:28] barrosgg commented on #22
![duckduckgo](https://cloud.githubusercontent.com/assets/14970832/22170666/bb0d10be-df5f-11e6-8ed4-5ca2054e8635.png)

[2017-01-21 01:32] barrosgg commented on #23
![tor](https://cloud.githubusercontent.com/assets/14970832/22170709/530aee36-df60-11e6-8120-70cd236bf1c4.png)

[2017-01-21 01:36] barrosgg commented on #25
![controle_permissoes_apps](https://cloud.githubusercontent.com/assets/14970832/22170751/ee6dcfa6-df60-11e6-9338-665e8a9e12d9.png)

[2017-01-21 01:43] barrosgg commented on #26
![site_seguro](https://cloud.githubusercontent.com/assets/14970832/22170839/dbf389fa-df61-11e6-8e1f-abc844dc7400.png)

[2017-01-21 01:43] #27 closed, assigned to nobody

[2017-01-21 01:50] barrosgg commented on #24
1. Use gerenciadores de senhas
2. Instale HTTPS Everywhere
3. Criptografe e assine digitalmente mensagens
4. Proteção de rastreamento do Firefox Test Pilot
5. Faça buscas sem ser rastreado com DuckDuckGo
6. Navegue totalmente em anonimato com Tor Browser
-------------
![dicas_semana_3](https://cloud.githubusercontent.com/assets/14970832/22170890/ce8cea6c-df62-11e6-99e1-febdcbce22c3.png)

[2017-01-23 14:33] #17 closed, assigned to barrosgg

[2017-01-23 15:57] barrosgg commented on #18
**Texto para Facebook**
[Mês da Privacidade] Os gerenciadores de senhas possuem recursos que ajudam a gerenciar senhas de forma simples, fácil e gratuita, eles permitem criar senhas com criptografia, gravar todas as suas senhas no navegador ou em um só lugar, criar uma senha para cada aplicativo ou conta.

Melhores gerenciadores de senhas: http://glo.bo/1T9RJ6W
Por que você deveria usar um gerenci

[2017-01-23 16:08] #18 closed, assigned to barrosgg

[2017-01-23 16:16] barrosgg commented on #19
**Texto para Facebook**
[Mês da Privacidade] O HTTPS Everywhere é uma extensão para os navegadores Google Chrome, Mozilla Firefox e Opera. Ativa automaticamente o protocolo HTTPS em sites na internet, deixando sua navegação mais segura.
Instale o HTTPS Everywhere agora: http://bit.ly/18qiajr
🚀👁🙇 #privacymonth #privacidade #firefox #mozilla #mozillabrasil

**Texto para Twitter**
Ative o protocolo H

[2017-01-23 16:23] #19 closed, assigned to barrosgg

[2017-01-23 16:26] barrosgg commented on #20
**Texto para Facebook**
[Mês da Privacidade] Aprenda a configurar o Thunderbird para assinar digitalmente, criptografar e descriptografar mensagens, com a finalidade de torná-los seguros!

Criptografando e assinando digitalmente mensagens: http://mzl.la/1BsOGiZ

🚀👁🙇 #privacymonth #privacidade #firefox #mozilla #mozillabrasil

**Texto para Twitter**
Aprenda assinar digitalmente e criptografar mensa

[2017-01-23 16:34] #20 closed, assigned to barrosgg

[2017-01-23 16:45] barrosgg commented on #21
@mchagas, tente deixar esse pronto na terça ou quarta, se não for possível, me avise.

[2017-01-23 16:50] barrosgg commented on #22
**Texto para Facebook**
[Mês da Privacidade] O DuckDuckGo é um buscador que não armazena históricos de pesquisa de usuários e nem compartilha informações de internautas com outras empresas.

Comece a usar o DuckDuckGo agora: https://duckduckgo.com
🚀👁🙇 #privacymonth #privacidade #firefox #mozilla #mozillabrasil

**Texto para Twitter**
Comece a usar o DuckDuckGo, a ferramenta de busca que não rastre

[2017-01-23 16:56] #22 closed, assigned to nobody

[2017-01-23 17:02] barrosgg commented on #23
**Texto para Facebook**
[Mês da Privacidade] O Tor Browser é um kit de ferramentas para quem quer se proteger contra malwares e garantir uma navegação segura na internet, disponível para Windows, Mac OS X e Linux. Com o programa é possível navegar de forma anônima tanto para o acesso frequente a sites como para publicar mensagens e até usar aplicativos baseados no protocolo TCP.

Com Tor, navegue

[2017-01-23 17:07] #23 closed, assigned to barrosgg

[2017-01-23 17:14] #24 closed, assigned to barrosgg

[2017-01-23 17:19] barrosgg commented on #24
@cynthiapereira, apenas uma nota: eu peguei o link permanente que o Wordpress gerou, encurtei e usei para agendar no Facebook e Twitter, adicionei a imagem acima a postagem também.

[2017-01-23 17:19] barrosgg commented on #24
Logo, não será necessário publicar nas redes sociais no domingo.

[2017-01-23 17:26] barrosgg commented on #25
**Texto para Facebook**
[Mês da Privacidade] Ao instalar um app do Google Play em um dispositivo com Android 6.0 (ou superior), você controla quais funcionalidades ou informações o app pode acessar, o que é chamado de permissões. Por exemplo, um app pode precisar de permissão para ver os contatos ou o local do seu dispositivo. É possível controlar quais permissões um app pode acessar após ele ser

[2017-01-23 17:31] #25 closed, assigned to barrosgg

[2017-01-23 17:33] barrosgg commented on #26
**Texto para Facebook**
[Mês da Privacidade] O botão de Identidade do Site (um cadeado) aparece na sua barra de endereço quando você visita um site seguro. Você pode descobrir rapidamente se a conexão para o site que estar visualizando é criptografado. Isso deve lhe ajudar a evitar sites maliciosos que estão tentando obter sua informação pessoal.

Como saber se a minha conexão com um site é segura

[2017-01-23 17:37] #26 closed, assigned to barrosgg

[2017-01-26 05:14] maykonchagas commented on #21
@barrosgeraldo peço mil desculpas por atrasar tanto. Sério mesmo, não foi por falta de vontade, foram uns perrengues que passei e outras coisas que foram se sobressaindo e gritando mais alto.
Espero que não fique chateado por estar entregando tão em cima da hora.

Segue todos os textos!

PS. para o Twitter, poderia encurtar a URL do Test Pilot com o endereço curto da mzl.la?

**Texto para Facebook

[2017-01-26 05:43] barrosgg commented on #21
Agendados, obrigado.

[2017-01-26 05:43] #21 closed, assigned to maykonchagas

[2019-03-30 17:30] ghost opened #28 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The